* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    .flex {
        display: flex;
    }


    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
    }

    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
    }

    .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
    }

    .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
    }

    .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
    }

    .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
    }

}

body {
    background-color: black;
    height: 100vh;
}


.rafael-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #6759e8;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}


.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header a {
    color: #4d4c4c;
    text-decoration: none;
    display: inline-block;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);

}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 40px;

}



.rafael-contato button:hover {
    box-shadow: 0px 0px 8px #6759e8;
    transform: scale(1.05);
}


/* topo do site */

section.topo-do-site {
    padding: 40px 4%;

}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}


.interface .logo img {
    border-radius: 60px;
}


.topo-do-site .txt-topo-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #6759e8;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}


h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;

}

h2.titulo span {
    color: #6759e8;
}

.sobre .img-sobre img {
    border-radius: 30px;
}


/* estilo das especialidades */
section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff5e;
}


.especialidades .especialidades-box i {
    font-size: 70px;
    color: #6759e8;
}

.especialidades .especialidades-box h3 {
    font: size 28px;
    margin: 15px 0px;
}

select.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}


.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #6759e8;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;

}


.sobre .txt-sobre .social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #6759e8;
    font-size: 22px;
    cursor: pointer;
    margin: 0 0 5px;
}

.social button:hover {
    box-shadow: 0px 0px 8px;
    transform: scale(1.10);
    transition: 2ms;
}

/* Estilo portifolio */
section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff29;

}



section.portifolio .flex {
    justify-content: space-between;
    gap: 80px;
    margin-top: 60px;
}


.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 60px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d4c4c84;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

@media screen and (max-width: 1020px) {
    /* classes gerais */

    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    /* cabeçalho */
    .menu-desktop,
    .rafael-contato {
        display: none;
    }


    /* topo do site */
    section.topo-do-site {
        padding: 20px 8px;
    }


    .topo-do-site h1 {
        font-size: 30px;

    }

    .topo-do-site .img-topo-site img {
        width: 100%;

    }

    section.especialidades {
        padding: 40px 8px;
    }
}